
.DS_Store

Stack burger/Stack burger.xcodeproj/project.xcworkspace/xcuserdata/ruheekim.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Stack burger/Stack burger.xcodeproj/project.xcworkspace/xcuserdata/ruheekim.xcuserdatad/UserInterfaceState.xcuserstate

